VITE_CONTACT_EMAIL=
VITE_CONTACT_PHONE=
VITE_CONTACT_WHATSAPP=
VITE_CONTACT_INSTAGRAM=

VITE_SOCIAL_FACEBOOK=
VITE_SOCIAL_TWITTER=
VITE_SOCIAL_LINKEDIN=

VITE_SITE_NAME=
VITE_SITE_URL=

VITE_REGISTER_ENDPOINT=
VITE_N8N_BASIC_USER=
VITE_N8N_BASIC_PASS=
VITE_GA_ID=